@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

.clickable:hover {
  cursor: pointer;
}

.search-bar-icon:hover {
  cursor: pointer;
  fill: black;
}

.link-white-override {
  color: white !important;
}

.link-white-override:hover {
  color: #d8dae5 !important;
}

.link-pelle {
  color: #00a595 !important;
}

.link-pelle:hover {
  color: #d8dae5 !important;
}

.content-row {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 576px) {
  .content-row {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .content-row {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .content-row {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .content-row {
    width: 1024px;
  }
}

@media (min-width: 1400px) {
  .content-row {
    width: 1280px;
  }
}
